.navbar {  
  border-bottom: solid 5px;

  ul {
    display: flex;
    justify-content: center;
    width: 35%;
    margin: 0px auto;
    list-style-type: none;

    li {
      font-weight: bold;

      a {
        display: block;
        padding: 0.67rem 1rem; 
        text-decoration: none;
        color: black;
      }

      &:hover {
        background-color: black;

        a {
          color: white;
        }
      }
    }
  }
}