.article-list-item {
  text-align: left;

  a {
    color: black;
    text-decoration: underline;
    font-weight: 100;
  }

  h3 {
    font-weight: 300;
  }

  &:hover {
    h3 {
      text-decoration: underline;
    }
  }
}