 #intro {
  background: rgb(0,238,255);
  background: linear-gradient(212deg, rgba(0,238,255,1) 0%, rgba(0,153,255,1) 34%, rgba(0,68,204,1) 100%);
  padding: 6rem 11.851851%;
  color: white;
  overflow: hidden;
  clip-path: polygon(100% 0, 100% 89%, 45% 100%, 0 91%, 0 0);
  
  #greeting {
    min-width: 70%;
    @include breakpoint(small) {
      width: 48.148148%;
    }
  }
}

#recent-articles-blocks {
  width: 67.037%;
  position: relative;
  margin: 0 auto;

  @include breakpoint(mobile) {
    max-width: 360px;
  }

  @include breakpoint(tablet) {
    min-width: 680px;
    max-width: 800px;
  }
  
  #articles-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    max-width: 724px;
    margin: 2rem 0;

    @include breakpoint(tablet) {
      
    }
    
    .article-square {
      width: 210px;
      height: 150px;
      border: solid 1px lighten($color: #000000, $amount: 85);
      border-radius: 0.75rem;
      padding: 1.5rem 1.5rem;
      display: none;

      @include breakpoint(tablet) {
        display: block;
      }

      & span {
        display: block;
        margin-bottom: .5rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      & small {
        position: relative;
        margin-left: 0.95rem;
        color: lighten($color: #000000, $amount: 65);

        &::before {
          content: "";
          position: absolute;
          width: 0.65rem;
          height: 0.65rem;
          background-image: url("../Images/Icon\ open-clock.svg");
          background-repeat: no-repeat;
          background-position: center;
          top: 0.15rem;
          left: -1rem;
          
        }
      }
    }

    .large-article-square {
      display: block;
      position: relative;
      min-width: 210px;
      width: 320px;
      height: auto;

      @include breakpoint(tablet) {
        display: none;
      }
      
      & > span {
        font-size: 1.3rem;
      }
      
      & > small {
        font-size: 0.8rem;
      }

      & > p {
        font-size: 1rem;
      }
    }

    .slide-arrow {
      @include breakpoint(tablet) {
        display: none;
      }
    }
  }
}