.navbar {  
  background-color: white;
  border-bottom: solid 1px #a9a9a9;

  ul {
    display: flex;
    margin: 0px auto;
    padding-left: 3.88889%;
    list-style-type: none;

    li {

      a {
        display: block;
        padding: 1.5rem 1.5rem; 
        text-decoration: none;
        color: black;
      }

      &:hover {
        background-color: black;

        a {
          color: white;
        }
      }
    }
  }
}