.navbar {
  height: 4rem;  
  background-color: white;
  border-bottom: solid 1px #a9a9a9;
  

  #link-wrapper {
    height: 0;
    top: 100%;
    transition: .3s;
    overflow: hidden;
    z-index: 1;

    @include breakpoint(tablet) {
      height: auto;
      padding: 0;
      top: 0;
      transition: 0s;
    }

    &.open {
      padding-bottom: 13rem;
    }

    ul {
      // display: none;
      margin: 0px auto;
      padding-left: 3.88889%;
      list-style-type: none;

      @include breakpoint(tablet) {
        display: flex;
      }

      li {

        a {
          display: block;
          padding: 1.4rem; 
          text-decoration: none;
          color: black;
        }

        &:hover {
          background-color: black;

          a {
            color: white;
          }
        }
      }
    }
  }

  #menu {
    display: flex;

    @include breakpoint(tablet) {
      display: none;
    }
  }

  #logo {
    top: 50%;
    left: 5.6640625%;
    transform: translateY(-50%);
    z-index: 1;

    @include breakpoint(tablet) {
      left: auto;
      right: 5.6640625%;
    }
  }
}